.font-righteous {
  font-family: 'Righteous', cursive;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover > * {
  transform: translateY(0);
  transition: transform 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}
